@charset "UTF-8";

/* Typical Devices Breakpoint 2022

pequenas telas: até 600px
celular: de 601 até 768px
tablet: de 769 até 992px
desktop: de 993 até 1200px
grandes telas: acima de 1200px

*/

@media screen and (min-width: 769px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(-45deg, #003252 15%, #0089DE, #005B92, #00619E, #004A78);
        background-repeat: no-repeat;
        background-size: 200vh 200vw;

        animation: gradiente 5s ease alternate infinite;
    }
    section{
        margin: 0px;

    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body{
        background-image: linear-gradient(-45deg, #003252 15%, #0089DE, #005B92, #00619E, #004A78);
        background-repeat: no-repeat;
        background-size: 206vh 206vw;

        animation: gradiente 10s ease alternate infinite;
    }
    section{
        margin: 0px;

    }
}

@media screen and (min-width: 1200px){
    body{
        background-image: linear-gradient(-45deg, #071491, #91340F, #005B92, #91750F);
        background-repeat: no-repeat;
        background-size: 206vh 206vw;

        animation: gradiente 5s ease alternate infinite;
        
    }
    section{
        margin: 0px;

    }
}

@keyframes gradiente{
    from{
        background-position: 0% 50%;
    }
    to{
        background-position: 100% 50%;
    }
}