@charset "UTF-8";

/* Typical Devices Breakpoint 2022

pequenas telas: até 600px
celular: de 601 até 768px
tablet: de 769 até 992px
desktop: de 993 até 1200px
grandes telas: acima de 1200px

*/
@media screen and (min-width: 769px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(-45deg, #003252 15%, #0089DE, #005B92, #00619E, #004A78);
        background-repeat: no-repeat;
        background-size: 200vh 200vw;
    }
    section{
        margin: 0px;

    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body{
        all: unset;
        background-image: url('../imagens/fundo-login-4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    section{
        all: unset;
        margin: 0px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        border-radius:30px;
        background-color: white;
        color: black;
        width: 400px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);

    }
}

@media screen and (min-width: 1200px){
    body{
        all: unset;
        background-image: url('../imagens/fundo-login-4.jpg');
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    section{
        all: unset;
        margin: none;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        border-radius:30px;
        background-color: white;
        color: black;
        width: 400px;
        height: 600px;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);

    }
}
