@charset "UTF-8";

/*#31393C
#2176FF
#33A1FD*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: #413C40;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#formulario > h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    color: #593752;
}
#formulario > p{
    font: 400 0.9em 'Roboto', sans-serif;
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
    color: #413C40;
}

.etiqueta{
    display: block;
    font-weight: bold;
    color: #593752;
}

#isenha, #iemail{
    border: none;
    border-bottom: 1px solid #8C5782;
    margin-bottom: 15px;
}

#isenha::placeholder, #iemail::placeholder{
    color: #D9C7D5;
}


section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: url("../imagens/fundo.jpg") no-repeat fixed;
    background-size: cover;
    height: 180px;
    display: block;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}